@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.icon {
		@apply mx-4;
	}

	.button {
		@apply font-panther text-dark flex bg-yellow rounded-xl border border-black;
	}
}

@font-face {
	font-family: 'Nord';
	src: url('./fonts/ABCGintoNordVariable-Trial.ttf');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Panther Bold';
	src: url('./fonts/PointPanther-Bold.otf');
	font-weight: bold;
}
@font-face {
	font-family: 'Panther Bold Italic';
	src: url('./fonts/PointPanther-BoldOblique.otf');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'Panther Italic';
	src: url('./fonts/PointPanther-Oblique.otf');
	font-style: oblique;
}
@font-face {
	font-family: 'Panther';
	src: url('./fonts/PointPanther-Regular.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Panther Outline Bold';
	src: url('./fonts/PointPantherOutline-Bold.otf');
	font-weight: bold;
}
@font-face {
	font-family: 'Panther Outline Bold Italic';
	src: url('./fonts/PointPantherOutline-BoldOblique.otf');
	font-weight: bold;
	font-style: oblique;
}
@font-face {
	font-family: 'Panther Outline Italic';
	src: url('./fonts/PointPantherOutline-Oblique.otf');
	font-style: oblique;
}
@font-face {
	font-family: 'Panther Outline';
	src: url('./fonts/PointPantherOutline-Regular.otf');
	font-style: normal;
}
